.App {
  width: 520px;
  padding-left: 500px ;
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App ul{
  display:grid;
  padding-left: 0px;
  padding-top: 80px;
  list-style: none;
}

.left{
  width: 70%;
  float: left;

}
.right{
  height: 50px;
  /* padding: 20px; */
  border: 1px solid black;
  border-radius: 50%;
  width: 10%;
  float: right;
}
li{
  border: 1px solid green;
  border-radius:20px ;
  margin: 5px;
  padding: 10px;
  text-align: left;
}
img{
  height: 100%;
  width: 100%;
}
span{
  font-size: 20px;
  cursor: pointer;
  border:1px solid white ;
  border-radius:10px ;
  margin-left: 60px;
  padding: 10px;
}

.nav{
  border-radius: 10px;
  color:white;
  padding: 0px 20px;
  background-color: green;
  position: fixed;
}

.login{
  border: 1px solid green;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  margin-top: 200px;
  margin-left: 500px;
}



@media only screen and (max-width: 600px) {
  .App{
    padding-left: 0px;
  }
}
